@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body
{
    padding:0;
    margin: 0;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    font-size: 13px;
}

textarea
{
    outline: none;
}

textarea:focus
{
    outline: none;
}

::selection
{
    background: #0fb170;
    color: #FFF;
}

::-moz-selection
{
    background: #0fb170;
    color: #FFF;
}

h2
{
    font-size: 3em;
    margin: 0px 20px 10px 0px;
}

h3
{
    font-size: 2em;
    padding: 0;
    margin: 40px 0px 14px 0px;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  line-height: 1;
  vertical-align: middle;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

button, .link-button
{
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

button i, .link-button i
{
    vertical-align: middle;
    margin-right: 8px;
}

button span, .link-button span
{
    vertical-align: middle;
    line-height: 1;
}

.link-button
{
    display: inline-block;
    margin: 0;
    text-decoration: none;
    line-height: 1;
    vertical-align: middle;
}


a
{
    outline:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button:focus, .link-button:focus
{
    outline: none;
}

button::-moz-focus-inner, .link-button::-moz-focus-inner
{
    border: 0;
}

.raised-button
{
    min-width: 3.85em;
    transform: translateZ(2px);
    -webkit-transform: translateZ(2px);
    -ms-transform: translateZ(2px);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.26);
}

.raised-button-touched, .raised-button:active
{
    transition-delay: 0s;
}

.raised-button:active, .raised-button-touched
{
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
    transform: translateZ(10px);
    -webkit-transform: translateZ(10px);
    -ms-transform: translateZ(10px);
}


.flat-button
{
    background-color: transparent;
    font-size: 1.2em;
    min-width: 3.85em;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.1s;
}
.flat-button-touched, .flat-button:active
{
    background-color: #d7d7d7;
    transition-delay: 0s;
}






.button-white
{
    background-color: #EFEFEF;
    color: #373737;
}
    .button-white i
    {
        color: #4b9806;
    }
    .button-white:active
    {
        background-color: #FFF;
    }


#container
{
    position: fixed;
    top:0; left: 0; right: 0; bottom: 0;
    background-color: #202020;
    background-image: url(../img/background-medium.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    box-shadow: 10px 0px 28px 3px rgba(0,0,0,0.27);
    z-index: 2;
    padding: 50px;
    box-sizing: border-box;

    transition: right 0.2s cubic-bezier(0,0,0,0.2);
    -webkit-transition: right 0.2s cubic-bezier(0,0,0,0.2);
    -moz-transition: right 0.2s cubic-bezier(0,0,0,0.2);
    -o-transition: right 0.2s cubic-bezier(0,0,0,0.2);
    -ms-transition: right 0.2s cubic-bezier(0,0,0,0.2);
}

    #overlay
    {
        background-color: #202020;
        opacity: 0.3;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        z-index: 1;
    }

    #headline
    {
        position: absolute;
        z-index: 3;
        bottom: 50px; left: 50px;
        right: 50px;
    }
        #headline h1
        {
            font-size: 4.6em;
            margin-bottom: 0.1em;
        }

        #headline h2
        {
            font-size: 1.4em;
            margin-bottom: 1.3em;
        }

        #headline button, #headline .link-button
        {
            padding: 0.7em 1em 0.7em 1em;
            font-size: 1.3em;
            margin-right: 8px;
        }


    #paper{
        width: 600px;
        font-size: 2.0em;
        position: absolute;
        bottom: 50px; right: 50px;
        z-index: 2;
    }

    #github-buttons
    {
        position: absolute;
        z-index: 3;
        top: 20px;
        left: 50px;
    }


    #drawer-toggle
    {
        position: absolute;
        top: 20px; right: 50px;
        z-index: 3;
        color: #202020;
        background-color: #fff;
        display: none;
    }
        #drawer-toggle i
        {
            font-size: 3em;
            display: block;
            margin: 0 auto;
        }


#workspace
{
    position: fixed;
    top: 0; right: 0; bottom: 0;
    left: 50%;
    padding: 10px 40px 0px 40px;
    z-index: 1;
    background-color: #282828;
    color: #efefef;
    overflow-y: auto;
}
    #workspace-close-button
    {
        position: fixed;
        top: 10px; right: 20px;
        z-index: 4;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        color: #fff;
    }
        #workspace-close-button i
        {
            font-size: 2.6em;
            margin: 0 auto;
        }

    .doc-section-button
    {
        background-color: #333;
        color: #ccc;
        font-size: 1.4em;
        padding: 0.4em 0.8em 0.4em 0.8em;
        margin-right: 4px;
    }

    .doc-section-button-active
    {
        background-color: #98064a;
        color: #fff;
    }

    #documentation
    {

    }
        .doc-page
        {
            display: none;
            margin-top: 20px;
        }

        .doc-blurb
        {
            margin: 0;
        }

        #usage
        {

        }
            #whats-that
            {
                color: #ccc;
                display: inline-block;
                font-size: 1.2em;
                background-color: #444;
                padding: 4px;
                margin-right: 10px;
            }

            #whats-that:active
            {
                background-color: #333;
            }


    .source-code
    {
        background-color: #171717;
        color: #999;
        max-width: 100%;
        display: inline-block;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 18px 10px 18px;
        box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
        transform: translateZ(10px);
        -webkit-transform: translateZ(10px);
        -ms-transform: translateZ(10px);
        border: solid 1px #333;
        margin: 10px 0px 0px 0px;
        overflow: auto;
    }





    .method
    {
        font-weight: bold;
        font-size: 1.1em;
        vertical-align: top;
        width: 220px;
    }

    .table-fill
    {
        background: transparent;
        border-collapse: collapse;
        padding: 4px;
        box-shadow: 0 6px 10px rgba(0,0,0,0.1);
        border-radius: 4px;
        table-layout: fixed;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 40px;
    }

    th
    {
        color: #d5d5d5;
        background: #333;
        border-bottom: solid 3px #0fb170;
        borer-right: solid 1px #343a45;
        font-size: 1em;
        padding: 0.5em 1em 0.5em 1em;
        text-align: left;
        vertical-align: middle;
    }

    th:first-child
    {
        border-top-left-radius: 4px;
    }

    th:last-child
    {
        border-top-right-radius: 4px;
    }

    tr
    {
        border-top: solid 1px #c1c3d1;
        border-bottom: solid 1px #c1c3d1;
        color: #666b85;
        font-size: 1em;
    }

    tr:first-child
    {
        border-top: none;
    }

    tr:last-child
    {
        border-bottom: none;
    }

    tr:nth-child(odd) td
    {
        background: #efefef;
    }

    tr:last-child td:first-child
    {
        border-bottom-left-radius: 4px;
    }

    tr:last-child td:last-child
    {
        border-bottom-right-radius: 4px;
    }

    td
    {
        background: #fff;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        border-right: solid 1px #c1c3d1;
    }

    td:last-child
    {
        border-right: none;
    }

    .placeholder-description-title
    {
        font-weight: bold;
        margin: 2px 0px 4px 0px;
    }

    .placeholder-description
    {
        margin: 0px 0px 12px 0px;
    }


    .example
    {

    }
        .example-output
        {
            display: inline-block;
            max-width: 100%;
            min-height: 1em;
            background-color: #171717;
            padding: 8px 10px 8px 10px;
            margin: 6px 0px 10px 0px;
            border-radius: 4px;
            border: solid 1px #333;
            min-width: 50%;
            box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
            transform: translateZ(10px);
            -webkit-transform: translateZ(10px);
            -ms-transform: translateZ(10px);
        }

        .example button
        {
            color: #333;
            background-color: #3hfduea;
            font-size: 0.9em;
            padding: 4px 6px 4px 6px;
            display: block;
        }

        .example button:active
        {
            background-color: #fff;
        }